body {
    background-color: #121212;
    margin-top: 2em;
}

h1, h2, h3, h4, h5, h6 {
    color: #D7DADC;
}

p {
    color: #D7DADC;
}

label {
    color: #D7DADC;
}

.helptext {
    color: #D7DADC;
}


.host-container{
   
}
.host{
    text-align: center;
    padding-left: 1em;
   
}

.host-body{
    margin-bottom: 2em;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    background-color: #282828 ;
   
}

.host h1{
    color: #03bada
}